body, head, title, link, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  font-family: sans-serif;
  background: transparent;
  text-align: inherit;

  list-style: none;
}

.hanoi-game {
  display: block;
  width: 500px;
  margin: auto;
}

ul {
  position: relative;
  margin: 0 30px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 36px;
  text-align: center;
}

li {
  background: white;
  margin: 5px;
  height: 20px;
}

.tower {
  float: left;
  width: 100px;
  height: 100px;
  border-bottom: 5px solid black;
}

.disc1 {
  display: block;
  width: 50px;
  background: grey;
}

.disc2 {
  display: block;
  width: 60px;
  background: grey;
}

.disc3 {
  display: block;
  width: 70px;
  background: grey;
}
