body, head, title, link, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  font-family: sans-serif;
  background: transparent;
  text-align: inherit;

  list-style: none;
}

.hanoi-game {
  display: block;
  width: 650px;
  margin: auto;
}

ul {
  position: relative;
  margin: 0 30px;
}

ul:hover {
  border-color: blue;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

li {
  background: white;
  margin: 5px auto;
  height: 50px;
  border-radius: 25px;
}

.tower {
  float: left;
  width: 150px;
  height: 180px;
  border-bottom: 10px solid black;
}

.disc1 {
  display: block;
  width: 60px;
  background: grey;
}

.disc2 {
  display: block;
  width: 100px;
  background: grey;
}

.disc3 {
  display: block;
  width: 140px;
  background: grey;
}

.clicked {
  border-color: red;
}

.victory:after {
  padding: 20px;
  content: "Congratulations! You won!";
  font-size: 48px;
  display: block;
  text-align: center;
}
